

.first-player-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.second-player-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.page-header{
    display: flex;
    justify-content: center;
}

.buttons-menu{
    display: flex;
    justify-content: center;
}

.div-coordinate{
    border: black 1px solid;
    width: 4rem;
    height: 4rem;
}
.first-player-ships{
    display: flex;
    flex-direction: column;
}

img {
    width: 4rem;
    height: 4rem;
    stroke-opacity: 0;
    fill-opacity: 0;
    background: transparent;
    opacity: 1;
    background-color: transparent;
}

/*  
#boat{
    transform: scaleX(2);    
}
 
#patrol{
    transform: scaleX(3);
}

#carrier{
    transform: scaleX(4);
}

#destroyer{
    transform: scaleX(5);
}

 */
 
img[draggable=true]:active {
    opacity: 0.5; /* make element 50% transparent while it is being dragged */
    background-color: transparent;
    background: transparent;
}

img[draggable=true] {
    background-color: rgba(255, 255, 255, 1); /* initial background color (not transparent) */
  }
  
.ship-square{
    background-color: black;
}


.div-coordinate:hover {
    background-color: wheat;
    color: white;
}

.wrapper{
    display: flex;
    justify-content: space-around;
}

.ship-container{
    display: flex;
    justify-content: space-between;
    margin: 1rem;   
}

.drop-zone-over{
    background-color: aqua;
}

.ship-cell{
    width: 4rem;
    height: 4rem;
}

.destroyer-ship.horizontal{
    display: flex;
    background-color: aqua;
    /*background-image: url("/src/images/destroyer.svg"); */
    background-size: cover;
    background-position: center;
}

.destroyer-ship.vertical{
    display: flex;
    background-color: aqua;
    /*background-image: url("/src/images/destroyer.svg"); */
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.carrier-ship.horizontal{
    display: flex;
    background-size: cover;
    background-position: center;
    background-color:blue
}

.carrier-ship.vertical{
    display: flex;
    background-size: cover;
    background-position: center;
    background-color:blue;
    flex-direction: column;
}

.patrol-ship.horizontal{
    display: flex;
    /*background-image: url("/src/images/patrol.svg"); */
    background-size: cover;
    background-position: center;
    background-color: orange;
}

.patrol-ship.vertical{
    display: flex;
    /*background-image: url("/src/images/patrol.svg"); */
    background-size: cover;
    background-position: center;
    background-color: orange;
    flex-direction: column;
}

.boat-ship.horizontal{
    display: flex;
    /*background-image: url("/src/images/boat.svg");*/
    background-size: cover;
    background-position: center;
    background-color: cadetblue;
}

.boat-ship.vertical{
    display: flex;
    /*background-image: url("/src/images/boat.svg");*/
    background-size: cover;
    background-position: center;
    background-color: cadetblue;
    flex-direction: column;
}


.drop-zone-over-error{
    background-color: red;
}

.ship-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}