

.first-player-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.second-player-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.page-header{
    display: flex;
    justify-content: center;
}

.buttons-menu{
    display: flex;
    justify-content: center;
}

.div-coordinate{
    border: black 1px solid;
    width: 4rem;
    height: 4rem;
}

.first-player-ships{
    display: flex;
    justify-content: space-around;
}

img {
    width: 4rem;
    height: 4rem;
    stroke-opacity: 0;
    fill-opacity: 0;
    background: transparent;
    opacity: 1;
    background-color: transparent;
}

img[draggable=true]:active {
    opacity: 0.5; /* make element 50% transparent while it is being dragged */
    background-color: transparent;
    background: transparent;
}

img[draggable=true] {
    background-color: rgba(255, 255, 255, 1); /* initial background color (not transparent) */
  }
  
.ship-square{
    background-color: black;
}


.div-coordinate:hover {
    background-color: darkblue;
    color: white;
}

.wrapper{
    display: flex;
    justify-content: space-around;
}

.ship-container{
    display: flex;
    flex-direction: column;
    
}