

.first-player-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.second-player-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.page-header{
    display: flex;
    justify-content: center;
}

.buttons-menu{
    display: flex;
    justify-content: center;
}

.div-coordinate{
    border: black 1px solid;
}

.first-player-ships{
    display: flex;
    flex-direction: column;
}

img {
    width: 5rem;
    height: 4rem;
}

.ship-square{
    background-color: black;
}

.div-coordinate:hover {
    background-color: darkblue;
}

.wrapper{
    display: flex;
    justify-content: space-around;
}
